@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Abel', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Livvic', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
/* Global Classes */
html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0.5vw;
}

.text-gray, .nav-menu .social-icons a i, .nav-menu .nav-items .nav-link a {
  color: gray;
}

h1 {
  font-size: 2.5rem;
  font-family: "Lexend Deca", sans-serif;
}

h3 {
  font-size: 1.3rem;
  font-family: "Abel", sans-serif;
}

.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-family: "Livvic", sans-serif;
  cursor: pointer;
}

.collapse {
  height: 30rem;
}

/* nav */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 4rem;
  transition: 1s;
  overflow-y: hidden;
}
.nav-menu .toggle-collapse {
  display: none;
}
.nav-menu .nav-items {
  display: flex;
}
.nav-menu .nav-items .nav-link {
  padding: 1.2rem 1rem;
}
.nav-menu .nav-items .nav-link a {
  text-transform: capitalize;
  font-family: "Abel", sans-serif;
}
.nav-menu .nav-items .nav-link:hover {
  background-color: #a1c4cf;
}
.nav-menu .nav-items .nav-link:hover a {
  color: #fff;
}
.nav-menu .nav-brand a {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
}
.nav-menu .social-icons a i {
  padding: 0.1rem 0.3rem;
}

.collapse {
  height: 18rem;
}

main {
  /* Site-title */
  /* Blog */
  /* site-content */
}
main .site-title {
  background: url("../img/Background-image.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 115vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}
main .site-title .site-background {
  padding-top: 13rem;
}
main .site-title .btn {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 1.8rem;
}
main .blog {
  background: url("../img/Abract01.png") no-repeat right;
  background-size: 50%;
  width: 100vw;
  height: 100vh;
}
main .blog .blog-post {
  display: flex;
  justify-content: center;
}
main .blog .blog-post .blog-content {
  text-align: center;
  margin: 8rem 3rem 8rem;
  padding-bottom: 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
main .blog .blog-post .blog-content .blog-title {
  margin-top: 1rem;
}
main .blog .blog-post .blog-content .blog-title .btn-blog {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0.7rem;
}
main .site-content .container {
  display: flex;
}
main .site-content .container .posts {
  width: 70%;
}
main .site-content .container .sidebar {
  width: 30%;
}

/* Media Query */
@media (max-width: 576px) {
  .nav-menu {
    align-items: initial;
  }
  .nav-menu .toggle-collapse {
    display: initial;
    position: absolute;
    right: 0.7rem;
    top: 1.3rem;
  }
  .nav-menu .toggle-collapse .toggle-icons i {
    font-size: 1.6rem;
  }
  .nav-menu .nav-items {
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    z-index: -999;
  }
  .nav-menu .nav-items .nav-link {
    padding: 0.5rem;
  }
  .nav-menu .social-icons {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -999;
    padding-top: 0.5rem;
  }
  .nav-menu .nav-brand {
    position: absolute;
    top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
