*, *::before, *::after{
    padding: 0; margin: 0; box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* font-family: 'Abel', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Livvic', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

/* Global Classes */
html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: .5vw;
}

.text-gray {
    color: gray;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
}

h3 {
    font-size: 1.3rem;
    font-family: 'Abel', sans-serif
}

.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: 'Livvic', sans-serif;
    cursor: pointer;
}

.collapse {
	height: 30rem;
}

/* nav */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    // min-height: 8vh;
    height: 8vh;
    transition: 1s;
    .toggle-collapse {
        display: none;
    }
    overflow-y: hidden;
    .nav-items {
        display: flex;
        .nav-link {
            padding: 1.2rem 1rem;
            a {
                @extend .text-gray;
                text-transform: capitalize;
                font-family: 'Abel', sans-serif;
            }
            &:hover {
                background-color: #a1c4cf;
                a {
                    color: #fff;
                }
            }       
        }
    }
    .nav-brand {
        a {
            font-family: 'Lexend Deca', sans-serif;
            font-size: 1.6rem;    
        }
    }
    .social-icons a i{
        padding: .1rem .3rem;
        @extend .text-gray;
    }
}

.collapse {
    height: 16rem;
}

/* Main Site-title */
main {
    .site-title {
        background: url('../img/Background-image.png') no-repeat center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #fff;
        .site-background {
            padding-top: 13rem;
        }
        .btn { 
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            margin: 1.8rem;
        }
    }
}

/* Media Query */
@media (max-width: 576px) {
    .nav-menu {
        align-items: initial;
        .toggle-collapse {
            display: initial;
            position: absolute;
            right: .7rem;
            top: .7rem;
            .toggle-icons {
                i {
                    font-size: 1.6rem;
                }
            }
        }
        .nav-items{
            flex-direction: column;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 7vh;
            transform: translateX(-50%);
            z-index: -999;
            .nav-link {
                padding: .5rem;
            }
        }
        .social-icons {
            position: absolute;
            top: 13.5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: -999;
            padding-top: .5rem;
        }
        .nav-brand {
            position: absolute;
            top: 1%;
        }
    }
}




